{% extends 'base.html.twig' %}

{% block wiki_nav_toolbox_active app.request.attributes.get('_route') %}

{% block sidebar %}
  <section class="sidebar__section flow">
    <h1 class="sidebar__title">{{ 'wiki.navigation'|trans }}</h1>

    <ul class="unlistify sidebar__no-padding">
      <li>
        <a href="{{ path('wiki_all') }}"
           class="menu-item {{ block('wiki_nav_toolbox_active') == 'wiki_all' ? 'menu-item--active' }}">
          {{- 'wiki.all_pages'|trans -}}
        </a>
      </li>

      {% if is_granted('view_wiki_log') %}
        <li>
          <a href="{{ path('wiki_recent_changes') }}"
            class="menu-item {{ block('wiki_nav_toolbox_active') == 'wiki_recent_changes' ? 'menu-item--active' }}">
            {{- 'label.recent_changes'|trans -}}
          </a>
        </li>
      {% endif %}

      {% if is_granted('create_wiki_page') %}
        <li>
          <a href="{{ path('wiki_create') }}"
            class="menu-item {{ block('wiki_nav_toolbox_active') == 'wiki_create' ? 'menu-item--active' }}">
            {{- 'wiki.create_new_page'|trans -}}
          </a>
        </li>
      {% endif %}
    </ul>
  </section>
{% endblock %}
